on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - '**'

permissions:
  contents: read

name: CI

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stacks-sbtc/actions/checkout@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Setup Rust
        id: setup_rust
        uses: stacks-sbtc/actions/setup-rust-toolchain@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Cargo Check
        id: cargo_check
        run: |
          cargo check

  test-all:
    name: test-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stacks-sbtc/actions/checkout@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Setup Rust
        id: setup_rust
        uses: stacks-sbtc/actions/setup-rust-toolchain@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Cargo Test
        id: cargo_test
        run: |
          cargo test
          cargo test --features with_v1

  fmt:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stacks-sbtc/actions/checkout@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Setup Rust
        id: setup_rust
        uses: stacks-sbtc/actions/setup-rust-toolchain@505c42b153ba2ac261c276e96bc5dc7b68d61039
        with:
          components: rustfmt

      - name: Cargo Fmt
        id: cargo_fmt
        run: |
          cargo fmt --all -- --check

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stacks-sbtc/actions/checkout@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Setup Rust
        id: setup_rust
        uses: stacks-sbtc/actions/setup-rust-toolchain@505c42b153ba2ac261c276e96bc5dc7b68d61039
        with:
          components: clippy

      - name: Cargo Clippy
        id: cargo_clippy
        run: |
          cargo clippy --all-targets --all-features -- -D warnings -A clippy::op-ref -A clippy::needless-range-loop

  doc:
    permissions:
      contents: read
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        id: checkout_repository
        uses: stacks-sbtc/actions/checkout@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Setup Rust
        id: setup_rust
        uses: stacks-sbtc/actions/setup-rust-toolchain@505c42b153ba2ac261c276e96bc5dc7b68d61039

      - name: Install LaTeX
        id: install_latex
        run: ./.doc/install-latex-ubuntu.sh

      - name: Build Website
        id: build_website
        run: ./.doc/build.sh

      - name: Upload PDF
        id: upload_pdf
        uses: stacks-sbtc/actions/upload-artifact@505c42b153ba2ac261c276e96bc5dc7b68d61039
        with:
          name: wsts.pdf
          path: wsts.pdf

      - name: Upload Website
        id: upload_website
        uses: stacks-sbtc/actions/upload-artifact@505c42b153ba2ac261c276e96bc5dc7b68d61039
        with:
          name: website
          path: ./target/doc/
